html, body {
  height: 100%;
  cursor: grab;
}

.content {
  padding-left: 50px; 
  padding-right: 50px; 
}
 
.page-wrapper {
  min-height: 100%;
  position: relative;
}

.custom-shadow {
  box-shadow: 1px 1px 3px rgba(102, 51, 153, 1); 
}

.text-custom-color {
  color: #4B0082;
}

.text-custom-color:hover {
  color: #4B0082; 
}

.bg-custom-color {
  background-color: #4B0082;
}

.custom-active-page {
  background-color: #4B0082 !important;
  color: #ffffff !important;
}


.list-group-item.full-width {
  width: 100%;
}

.category-link {
  padding-left: 15px;
}

.custom-border {
  border: 1px solid #4B0082;
}

.custom-border-second {
  border: 1px solid #FF8C00;
}

.pagination .page-item {
  border-radius: 50%;
  margin: 0 5px; 
  box-shadow: 1px 1px 3px rgba(102, 51, 153, 1); 
  border: none;
}

.pagination .page-link {
  border-radius: 50% !important;
  padding: 5px 10px;
  box-shadow: 1px 1px 3px rgba(102, 51, 153, 1); 
  border: none;
}


.dropdown-menu a.dropdown-item:hover {
  background-color: #4B0082; 
  color: #FFFFFF !important; 
}

.input-group input.form-control:hover {
  border-color: #4B0082; 
}

.input-group input.form-control:focus {
  border-color: #4B0082; 
  box-shadow: none;
}

.form-control {
  border: 1px solid #FF8C00;
  border-radius: 0%;
  height: 37px;
}


.unique-button {
  width: 100px;
  margin-top: 16px;
  height: 37px;
  border-radius: 0%;
  background-color: #FF8C00;
  color: #FFFFFF;
}

.unique-button:hover {
  color: #FFFFFF;
}

.unique-label{
  width: 100px;
} 

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23663399'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23663399'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Карусель брендов */

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {

.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-start.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

/* Стили кнопок */
.btn-custom {
  background-color: #4B0082; 
  color: #FFFFFF; 
  width: 200px; 
  box-shadow: none;
  border-radius: 0%;
}

.btn-custom i {
  margin-right: 5px;
}

.btn-custom:hover {
  color: #FFFFFF;
  box-shadow: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

dl, ol, ul {
  margin-top: 0px;
  margin-bottom: 1rem;
  list-style-type: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulsating-icon {
  animation: pulse 2s infinite;
  height: auto;
  width: 45px;
  background: none;
  background-color: transparent;
}
