{% extends 'base.html' %}

{% block title %}Про проект{% endblock %}

{% block content %}
    <div class="about-project-block">
        <div class="col-md-12 text-center">
            <h4>Про проект</h4>
        </div>
        
        <p>Раздел «О нас» дает посетителям сайта представление о компании или личности. Цифры, кейсы, ссылки на крупных заказчиков — подтвержденная информация повышает ваш авторитет и формирует доверие со стороны аудитории. Здесь вы показываете свою значимость и объясняете, почему выгодно быть вашим клиентом.</p>
    </div>
{% endblock %}


